<%- include("header") -%>
    <%- include ("navigation") -%>
        <div class="aboutUs">


            <div class="box" id="heading">
                <h1>
                    About Us

                </h1>

            </div>
            <p>Its About us Page</p>
        </div>
        <%- include("footer") -%>